
.contacts{
    color:white;
    font-size: 20px;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
    padding:30px;
    background-color: beige;
}

.wrapper{
    
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    align-items: baseline;
    align-self: baseline;
    align-content: baseline;
    margin-top: 15px;
}  
a{
    color:white;
    margin-right:10px;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
}
.contacts-list{

    color:white;
    font-size: 20px;
    text-decoration: none;
}
footer{
    margin-top:100px;
    width: 100%;
}

@media screen and (max-width: 760px) {
    .contacts h1{
        display:none;
        opacity: 0;
    }
    .wrapper{
        display:flex;
        justify-content:left;
        align-items:left;
        flex-direction:column;
        gap: 20px;
    }
    .contacts{
        display:flex;
        justify-content:left;
        align-items:left;
        flex-direction:column;
        gap: 20px;
    }
}